
/* media query */
@media screen and (max-width: 1024px) {
    .display-img::after ,.display-img:before{
       display: none;
    }
}

@media screen and (max-width: 640px) {
    .display-img::after{
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .slide-track {
      width: calc(80px * 20);
    }
    .slide {
      width: 140px;
    }
  
    @keyframes scroll {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(calc(-80px * 5));
      }
    }

    .cartoon-card::before{  
        right: -10px !important;
        top: -5px !important;
        transform: rotate(356deg) !important;
    }
  }